# Python Quick Reference

## Table of contents

1. <a href="#1.-Imports">Imports</a>
2. <a href="#2.-Variables">Data Types</a>
3. <a href="#3.-Conditional-Statements">Conditional Statements</a>
4. <a href="#4.-Lists">Lists</a>
5. <a href="#5.-Tuples">Tuples</a>
6. <a href="#6.-Strings">Strings</a>
7. <a href="#7.-Dictionaries">Dictionaries</a>/
8. <a href="#8.-Defining-Functions">Defining Functions</a>
9. <a href="#9.-Global-and-local-variables">Global and local variables</a>
10. <a href="#10.-For-Loops-and-While-Loops">For Loops and While Loops</a>
11. <a href="#11.-Error-Handling">Error Handling</a>

## 1. Imports

In [198]:
#import a module

import os
import math

In [199]:
# import a function
from math import sqrt
sqrt(25)    # no longer have to reference the module

5.0

In [200]:
# import multiple functions at once
from math import cos, floor

In [201]:
# import all functions in a module (generally discouraged)
from csv import *

In [202]:
# define an alias
import datetime as dt

In [203]:
# show all functions in math module
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 2. Variables

There is no declaration of variables required in Python. If there is need of a variable, you think of a name and start using it as a variable.

In [204]:
i = 4
print (i)

4

Not only the value of a variable may change during program execution but the type as well. You can assign an integer value to a variable, use it as an integer for a while and then assign a string to the same variable.

In [205]:
i = 42      # data type is implicitly set to integer
i = 42 + 0.11      # data type is changed to float
i = "forty"      # and now it will be a string

In [206]:
#check the variable type
print (type(2))
print (type(2.0))

<class 'int'>
<class 'float'>

In [207]:
#check if an object is a given type
isinstance(2.0, float)

True

## 3. Conditional Statements

In [208]:
# if/else statement
x=5
if x > 0:
    x = 3
     print('positive')
else:
    print('zero or negative')

IndentationError: unexpected indent (<ipython-input-208-8f288c5f5d6c>, line 5)

In [225]:
# if/elif/else statement
x = 5
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

## 4. Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

In [226]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [227]:
# create a list
simpsons = ['homer', 'marge', 'bart', 5]

In [228]:
# get the 
simpsons

['homer', 'marge', 'bart', 5]

**Examine a list:**

In [229]:
# print element 0
simpsons[0]

'homer'

In [230]:
print (len(simpsons))
print (simpsons[1])

4
marge

**Modify a list (does not return the list):**

In [231]:
# append element to end
simpsons.append('bart')
simpsons

['homer', 'marge', 'bart', 5, 'bart']

In [232]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 5, 'bart', 'itchy', 'scratchy']

In [233]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 5, 'bart', 'itchy', 'scratchy']

In [234]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 5, 'bart', 'itchy', 'scratchy']

In [235]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [236]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 5, 'bart', 'itchy', 'scratchy']

In [237]:
# replace element 0
simpsons[0] = 'krusty'
simpsons

['krusty', 5, 'bart', 'itchy', 'scratchy']

In [238]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 5, 'bart', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

**Find elements in a list:**

In [239]:
# counts the number of instances
simpsons.count('lisa')

0

In [240]:
# returns index of first instance
simpsons.index('itchy')

3

**List slicing:**

In [241]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [242]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [243]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [244]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [245]:
# last element
weekdays[-2]

'thurs'

In [246]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [247]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [248]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

**Sort a list in place (modifies but does not return the list):**

In [249]:
weekdays.sort()
weekdays

['fri', 'mon', 'thurs', 'tues', 'wed']

In [250]:
# sort in reverse
weekdays.sort(reverse=True)
weekdays

['wed', 'tues', 'thurs', 'mon', 'fri']

In [251]:
# sort by a key
weekdays.sort(key=len)
weekdays

['wed', 'mon', 'fri', 'tues', 'thurs']

In [252]:
#help([].sort)

**Return a sorted list (does not modify the original list):**

In [253]:
sorted(weekdays)

['fri', 'mon', 'thurs', 'tues', 'wed']

In [254]:
weekdays

['wed', 'mon', 'fri', 'tues', 'thurs']

In [255]:
sorted(weekdays, reverse=True)

['wed', 'tues', 'thurs', 'mon', 'fri']

In [256]:
sorted(weekdays, key=len)

['wed', 'mon', 'fri', 'tues', 'thurs']

**Object references and copies:**

In [257]:
# create a second reference to the same list
num = [10, 20, 40, 50]
same_num = num

In [258]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 40, 50]
[0, 20, 40, 50]

In [259]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

In [260]:
id(num)

139630870067232

In [261]:
id(same_num)

139630870067232

**Examine objects:**

In [262]:
id(new_num)

139630870279104

In [263]:
num is same_num    # checks whether they are the same object

True

In [264]:
num is new_num

False

In [265]:
num == same_num    # checks whether they have the same contents

True

In [266]:
num == new_num

True

## 5. Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [267]:
# create a tuple directly
digits = (0, 1, 'two')
digits = tuple([0, 1, 'two'])

**Examine a tuple:**

In [268]:
digits[2]

'two'

In [269]:
len(digits)

3

In [270]:
# counts the number of instances of that value
digits.count(0)

1

In [271]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [272]:
#elements of a tuple cannot be modified (this would throw an error)
digits[2] = 2

TypeError: 'tuple' object does not support item assignment

In [273]:
# concatenate tuples
print (id(digits))
digits = digits + (3, 4)
print (digits)
print (id(digits))

139630869928368
(0, 1, 'two', 3, 4)
139630871138576

**Other tuple operations:**

In [274]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson

## 6. Strings

- **String properties:** iterable, immutable

In [275]:
# create a string directly
s = 'I like python'

**Examine a string:**

In [276]:
s[0]

'I'

In [277]:
len(s)

13

**String slicing is like list slicing:**

In [278]:
s[:6]

'I like'

In [279]:
s[7:]

'python'

In [280]:
s[-1]

'n'

**Basic string methods (does not modify the original string):**

In [281]:
s.lower()

'i like python'

In [282]:
s.upper()

'I LIKE PYTHON'

In [283]:
s.startswith('I')

True

In [284]:
s.endswith('you')

False

In [285]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [286]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [287]:
# returns -1 since not found
s.find('hate')

-1

In [288]:
print(id(s))

139630869604016

In [289]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'hate')

'I hate python'

In [290]:
print(id(s))

139630869604016

**Split a string:**

In [291]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'python']

In [292]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'python']

In [293]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Join or concatenate strings:**

In [294]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [295]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

**Remove whitespace from the start and end of a string:**

In [296]:
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

**String substitutions:**

In [297]:
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [298]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

## 7. Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [299]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [300]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [301]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

**Examine a dictionary:**

In [302]:
# pass a key to return its value
family['dad']

'homer'

In [303]:
# return the number of key-value pairs
len(family)

3

In [304]:
# check if key exists in dictionary
'mom' in family

True

In [305]:
# dictionary values are not checked
'marge' in family

False

In [306]:
# returns a list of keys (Python 2) or an iterable object (Python 3)
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [307]:
# returns a list of values (Python 2) or an iterable object (Python 3)
family.values()

dict_values(['homer', 'marge', 6])

In [308]:
# returns a list of key-value pairs (Python 2) or an iterable object (Python 3)
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

**Modify a dictionary (does not return the dictionary):**

In [309]:
# add a new entry
print(id(family))
family['cat'] = 'snowball'
family
print(id(family))

139630869762928
139630869762928

In [310]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [311]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [312]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [313]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'mom': 'marge', 'size': 6, 'baby': 'maggie', 'grandpa': 'abe'}

**Access values more safely with `get`:**

In [314]:
family['mom']

'marge'

In [315]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [316]:
# return None if not found
family.get('grandma')

In [317]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

## 8. Defining Functions

**Define a function with no arguments and no return values:**

In [318]:
def print_text():
    print('this is text')

In [319]:
# call the function
print_text()

this is text

**Define a function with one argument and one return value:**

In [320]:
def square_this(x):
    return x**2

In [321]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [322]:
# call the function
square_this(3)

9

In [323]:
# assigns 9 to var, but does not print 9
var = square_this(3)

**Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):**

In [324]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [325]:
# call the function
calc(10, 4, op='add')

14

In [326]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [327]:
# default for 'op' is 'add'
calc(10, 4)

14

In [328]:
calc(10, 4, 'sub')

6

In [329]:
calc(10, 4, 'div')

valid operations are add and sub

**Return two values from a single function:**

In [330]:
def min_max(nums):
    return min(nums), max(nums)

In [331]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [332]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

## 9. Global and local variables

Global variables are the one that are defined and declared outside a function and we need to use them inside a function.

In [333]:
# This function uses global variable s
def f(): 
    print (s) 
 
# Global scope
s = "Test message"
f()

Test message

If a variable with same name is defined inside the scope of function as well then it will print the value given inside the function only and not the global value.

In [334]:
# This function has a variable with
# name same as s.
def f(): 
    s = "test message 2."
    print (s) 
 
# Global scope
s = "Test message"
f()
print (s)

test message 2.
Test message

The variable s is defined as the string “I love Geeksforgeeks”, before we call the function f(). The only statement in f() is the “print s” statement. As there is no local s, the value from the global s will be used.

The question is, what will happen, if we change the value of s inside of the function f()? Will it affect the global s as well? We test it in the following piece of code:

In [335]:
def f(): 
    print (s)
 
    # This program will NOT show error
    # if we comment below line. 
    s = "Test Message 2."
    print (s)
 
# Global scope
s = "Test Message"
f()
print (s)

UnboundLocalError: local variable 's' referenced before assignment

To make the above program work, we need to use “global” keyword. We only need to use global keyword in a function if we want to do assignments / change them. global is not needed for printing and accessing. Why? Python “assumes” that we want a local variable due to the assignment to s inside of f(), so the first print statement throws this error message. Any variable which is changed or created inside of a function is local, if it hasn’t been declared as a global variable. To tell Python, that we want to use the global variable, we have to use the keyword “global”, as can be seen in the following example:

In [336]:
# This function modifies global variable 's'
def f():
    global s
    print (s)
    s = "Look for Python tutorials"
    print (s) 
 
# Global Scope
s = "Python is great!"
f()
print (s)

Python is great!
Look for Python tutorials
Look for Python tutorials

A good example

In [337]:
a = 1
 
# Uses global because there is no local 'a'
def f():
    print ('Inside f() : ', a)
 
# Variable 'a' is redefined as a local
def g():    
    a = 2
    print ('Inside g() : ',a)
 
# Uses global keyword to modify global 'a'
def h():    
    global a
    a = 3
    print ('Inside h() : ',a)
 
# Global scope
print ('global : ',a)
f()
print ('global : ',a)
g()
print ('global : ',a)
h()
print ('global : ',a)

global :  1
Inside f() :  1
global :  1
Inside g() :  2
global :  1
Inside h() :  3
global :  3

## 10. For Loops and While Loops

**`range` returns a list of integers (Python 2) or a sequence (Python 3):**

In [338]:
# includes the start value but excludes the stop value
range(0, 3)

range(0, 3)

In [339]:
# default start value is 0
range(3)

range(0, 3)

In [340]:
# third argument is the step value
range(0, 5, 2)

range(0, 5, 2)

**`for` loops:**

In [341]:
# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

APPLE
BANANA
CHERRY

In [342]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [343]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

dad homer
mom marge
size 6

In [344]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

**`for`/`else` loop:**

In [345]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

**`while` loop:**

In [346]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

## 11. Error Handling

There are (at least) two distinguishable kinds of errors: syntax errors and exceptions.

Syntax errors, also known as parsing errors

In [347]:
print 'Hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello world')? (<ipython-input-347-5b561bd9caa8>, line 1)

#### Exceptions:
Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it.

In [ ]:
10 * (1/0)

In [ ]:
'2' + 2

In [ ]:
4 + spam*3

#### Handling exceptions

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

The try statement works as follows.

First, the try clause (the statement(s) between the try and except keywords) is executed.
If no exception occurs, the except clause is skipped and execution of the try statement is finished.
If an exception occurs during execution of the try clause, the rest of the clause is skipped. Then if its type matches the exception named after the except keyword, the except clause is executed, and then execution continues after the try statement.
If an exception occurs which does not match the exception named in the except clause, it is passed on to outer try statements; if no handler is found, it is an unhandled exception and execution stops with a message as shown above.

### Reference link for python :

- https://developers.google.com/edu/python